@font-face {
  font-family: vazir;
  src: url(../components/fonts/Vazir-Regular.woff);
}
$main-color: rgb(248, 219, 1);
div.cart-page {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  div.cart-info {
    margin-top: 170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    div.added-products {
      display: block;
      width: 73%;
      div.product {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid gray;
        border-radius: 15px;
        width: 100%;
        margin-bottom: 25px;
        box-shadow: 4px 4px 10px gray;
        img {
          width: 130px;
          height: 130px;
        }
        h6 {
          font-size: 1.3vw;
          font-family: vazir;
        }
        p {
          font-size: 1.3vw;
          font-family: vazir;
          font-weight: 900;
        }
        button.delete-product{
          color: red;
          font-size: 1.1vw;
          font-family: vazir;
          font-weight: 900;
          border: 0;
          cursor: pointer;
        }
      }
    }
    div.submit-shoping{
        padding: 25px;
        box-sizing: border-box;
        width: 24%;
        border: 1px solid gray;
        border-radius: 15px;
        text-align: center;
        margin-bottom: 25px;
        p{
            font-size: 1.2vw;
            font-family: vazir;
            font-weight: 900;
        }
        div.numbers-of-products{
            padding: 0px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        div.full-price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            box-sizing: border-box;
        }
        button.finalize{
            text-align: center;
            width: 100%;
            padding: 8px;
            font-size: 1.3vw;
            font-family: vazir;
            font-weight: 900;
            color: white;
            background-color: green;
            border: 1px solid green;
            border-radius: 10px;
            margin-top: 15px;
            cursor: pointer;
            transition: 500ms;
        }
        button.finalize:hover{
            background-color: white;
            color: green;
        }
    }
  }
}
