@font-face {
  font-family: vazir;
  src: url(../components/fonts/Vazir-Regular.woff);
}
$main-color: rgb(248, 219, 1);

div.questions-page {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 30px 0;
  box-sizing: border-box;
  background: url(../images/sign-in.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div.questions-box {
    width: 90%;
    margin-top: 150px;
    h2 {
      font-family: vazir;
      font-size: 2vw;
    }
    .MuiPaper-root {
      background-color: white !important;
      border-radius: 10px;
      margin: 10px;
      color: gray;
      padding: 5px;
      box-shadow: 4px 4px 10px gray;
      border: 1px solid lightgray;
      border: 1px solid gray;
      p {
        font-family: vazir;
        font-weight: 600;
        font-size: 1.3vw;
      }
    }
  }
  div.empty {
    width: 100%;
    background-color: transparent;
    height: 100px;
  }
}
