@font-face {
  font-family: vazir;
  src: url(../components/fonts/Vazir-Regular.woff);
}
$main-color: rgb(248, 219, 1);

div.sign-up {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../images/login-background.jpg) rgba(0, 0, 0, 50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  div.logo {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 15px;
    right: 15px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  a.exit {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.3vw;
    font-family: vazir;
    color: white;
    text-decoration: none;
    transition: 250ms;
  }
  a.exit:hover{
    color: $main-color;
  }
  div.sign-up-form {
    background-color: white;
    overflow: scroll;
    width: 40%;
    height: 87vh;
    padding: 25px 50px;
    box-sizing: border-box;
    box-shadow: 0 0 15px black;
    border-radius: 15px;
    animation-name: sign-up;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    form {
      width: 100%;
      text-align: right;
      h1 {
        width: 100%;
        text-align: center;
        margin: 30px 0;
        font-family: vazir;
        color: black;
        font-size: 1.5vw;
        span {
          color: goldenrod;
        }
      }
      h6 {
        font-family: vazir;
        font-size: 1.2vw;
        margin-bottom: 3px;
        font-weight: 600;
        span {
          color: red;
          font-size: 0.9vw;
        }
      }
      input {
        padding: 7px;
        display: block;
        border-radius: 7px;
        font-size: 1vw;
        font-family: vazir;
        font-weight: 600;
        border: 1px solid gray;
        margin: 0 0 30px 0;
      }
      input:focus {
        outline: 1px solid $main-color;
      }
      input.first-name {
        width: 55%;
      }
      input.last-name {
        width: 60%;
      }
      input.phone {
        width: 50%;
      }
      input.email {
        width: 92%;
      }
      input.password {
        width: 40%;
      }
      p {
        font-family: vazir;
        font-size: 1vw;
        color: gray;
        margin: 20px 0;
        width: 100%;
        text-align: center;
      }
      button.sign-up-btn {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 50px;
        font-family: vazir;
        font-size: 1.3vw;
        color: white;
        background-color: black;
        border-radius: 8px;
        margin: 15px 0;
        transition: 200ms;
        cursor: pointer;
        border: 1px solid black;
      }
      button.sign-up-btn:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
  @keyframes sign-up {
    from{
        position: relative;
        top: -100%;
    }
    to{
        position: relative;
        top: 0;
    }
  }
  div.sign-up-form::-webkit-scrollbar {
    display: none;
  }
}
